<ion-content class="content" no-bounce [ngClass]="LS.getNameTheme()">
  <div class="d-flex h-80">
    <div>
      <h1>THE END</h1>
      <div style="text-align:center;">Aplikacja napisana przy użyciu</div>
      <div style="text-align:center; font-weight: 700">IONIC 3.20.0 w oparciu o Angular 5</div>
      <div style="text-align:center;">Istnieją tylko 2 wersje instalatora.</div>
      <h1>EDYCJA LIMITOWANA</h1>
      <div style="text-align:center;">
        <img style="width: 70%;" src="assets/media/last.webp"/>
      </div>

    </div>
  </div>
  <div class="h-20 d-flex-center-around">
    <button ion-button [color]="LS.getTheme()?'blue':'red'" (click)="toMenu()">Menu</button>
    <button ion-button [color]="LS.getTheme()?'blue':'red'" (click)="closeApp()">ZAMKNIJ</button>
  </div>
  <div class="signatur">
    #migucina
  </div>
</ion-content>
