@import './../../theme/variables.scss';
.theme-group{
  text-align: center;
  .theme{
    span{
      vertical-align: middle;
    }
    .toggle-md{
      vertical-align: middle;
      display: inline-block;
      &:not(.toggle-checked) .toggle-icon{
        background-color: #c8dcff;
        .toggle-inner{
          background-color: #488aff;
        }
      }
    }
    //.toggle-md-danger.toggle-checked
  }
}

.start-btn{
  font-size: 35px;
  padding: 30px 50px;
}
//#fb6a45
//#fa2b7f
