<ion-content class="content center-flex" no-bounce [ngClass]="LS.getNameTheme()">
  <div class="d-flex">
    <div>
      <span class="title">Aplikacja napisana specjalnie dla</span>
      <!--<h1>DUPA</h1>-->
      <h1>Sabiny</h1>
      <h5 class="mt-50 blink_text">Naciśnij Start</h5>
      <div class="center">
        <button class="start-btn" (click)="open()" ion-button [color]="LS.getTheme()?'blue':'red'">START</button>
      </div>
      <div class="theme-group mt-30">
        <h5>Wybierz wygląd</h5>
        <div class="theme">
          <span>Niebieski</span>
          <ion-toggle color="danger" (ionChange)="LS.setTheme(theme)" [(ngModel)]="theme"></ion-toggle>
          <span>Czerwony</span>
        </div>
      </div>
    </div>
  </div>
  <div class="signatur">
    #migucina
  </div>
</ion-content>




