.animation {
  width: 100%;
  text-align: center;
  transition-timing-function:ease;
  animation-duration: .3s;

  &.in-b-box {
    animation-name: in-left;
  }

  &.in-n-box {
    animation-name: in-right;
  }

  &.out-n-box {
    animation-name: out-left;
  }

  &.out-b-box {
    animation-name: out-right;
  }


  &.in-b-box,
  &.in-n-box{
    .subtext{
      transition-timing-function:ease;
      animation-duration: 1.5s;
      animation-name: opacity;
    }
    .animation-page,
    .media-page{
      transition-timing-function:ease;
      animation-duration: 2.5s;
      animation-name: opacity;
    }
  }

}

//in

@keyframes in-left {
  0% {
    transform: translate3d(-100%, 0, 0);
    display: block;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes in-right {
  0% {
    transform: translate3d(100%, 0, 0);
    display: block;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

//out

@keyframes out-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
    display: none;
  }
}

@keyframes out-right {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
    display: none;
  }
}



@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

