h1, h2, h3, h4, h5,h6{
  text-align: center;
  padding: 0;
  margin: 10px;
}

h1{
  font-size: 35px;
}
.content{
  color: white;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
  &.blue{
    background: linear-gradient(#34a3cd, #4459c7);
  }
  &.red{
    background: linear-gradient(#fb6a45, #fa2b7f);
  }
  &.center-flex{
    .scroll-content{
      display: flex !important;
      width: 100%;
      height: 100%;
      align-items: center!important;
      justify-content:center !important;
    }
  }
  .scroll-content{
    overflow: hidden;
  }
}


.d-flex{
  display: flex !important;
  width: 100%;
  height: 100%;
  align-items: center!important;
  justify-content:center !important;
}

.center{
  text-align: center;
}

.mt-5{
   margin-top: 5px !important;
 }
.mt-10{
  margin-top: 10px!important;
}
.mt-15{
  margin-top: 15px!important;
}
.mt-30{
  margin-top: 30px!important;
}
.mt-50{
  margin-top: 50px!important;
}

.mb-5{
  margin-bottom: 5px!important;
}
.mb-10{
  margin-bottom: 10px!important;
}
.mb-15{
  margin-bottom: 15px!important;
}
.mb-30{
  margin-bottom: 30px!important;
}

.mb-50{
  margin-bottom: 50px!important;
}


.signatur{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: 300;
  text-transform: lowercase;
}

.blink_text {
  animation: blinker 1.2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes color_change {
  0% { color: #34a3cd; }
  25% { color: #fa2b7f; }
  50% { color: #fb6a45; }
  75% { color: #4459c7; }
  100% { color: red; }
}


.h-20{
  height: 20%;
  width: 100%;
  overflow: hidden;
}
.h-80{
  height: 80%;
  width: 100%;
  overflow: hidden;
}


.d-flex-center-around{
  display: flex!important;
  align-items: center!important;
  justify-content:space-around;
}

button{
  min-width: 100px;
}


.page{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 300;
  text-transform: lowercase;
}


