.subtext {
  width: 80%;
  font-size: 18px;
  display: inline-block;
}


.media-page{
  width: 70%;
  display: inline-block;
  margin-top: 30px;
}


.animation-element{
  display: inline-block;
  margin-top:25px;
}


.serce-main{
  text-align: center;
  animation: coin_rotate 2.5s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.serce{
  width: 120px;
  height: 120px;
  border:4px solid white;
  background-image: url("../assets/media/serce.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  animation: coin_jump 1s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
}


@keyframes coin_jump{
  from { transform: translate3d(0, 0, 0)}
  to   { transform: translate3d(0, 50px, 0)}
}

@keyframes coin_rotate{
  from { transform: rotateY(0deg)}
  to   { transform: rotateY(360deg)}
}




.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 2s steps(28);
  animation-iteration-count:infinite;
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

