<ion-content class="content" no-bounce [ngClass]="LS.getNameTheme()">
  <div class="page">
    #{{NumberPage+1}}
  </div>
  <div class="d-flex h-80" >
    <div id="box-animation" class="animation in-n-box">
      <h2>{{Data.title}}</h2>
      <span class="subtext">{{Data.desc}}</span>
      <div class="media-page" *ngIf="Data.media">
        <img [src]="'assets/media/'+Data.media"/>
      </div>
      <div class="animation-page">
        <div *ngIf="Data.animation_main" class="animation-element" [ngClass]="Data.animation_main">
          <div [ngClass]="Data.animation_second"></div>
        </div>
      </div>

    </div>



  </div>
  <div class="h-20 d-flex-center-around">
    <button ion-button [color]="LS.getTheme()?'blue':'red'" (click)="backPage()">{{NumberPage?'Wstecz':'Menu'}}</button>
    <button ion-button [color]="LS.getTheme()?'blue':'red'" (click)="nextPage()">Dalej</button>
  </div>
  <div class="signatur">
    #migucina
  </div>
</ion-content>
